.tile {
  composes: tile-generic from "../Tile.styles.module.css";
  display: block;
  position: relative;
  background-color: rgb(200, 200, 200);
  overflow: hidden;

  transition: background-color 200ms ease-in, transform 200ms ease-in;
  transform: scale(96%, 96%);

  & > img {
    object-fit: cover;
    opacity: 0;
    height: 100%;
    width: 100%;
    /* transition: opacity 300ms ease-in, filter 1s linear; */
  }
}

.caption {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  & > p {
    font-size: 3rem;
    font-style: italic;
    position: absolute;
    z-index: 2;
    transition: opacity 50ms linear;
  }
}
@keyframes loading-animation {
  from {
    background-color: rgb(200, 200, 200);
    transform: scale(96%, 96%);
  }
  to {
    background-color: rgb(230, 230, 230);
    transform: scale(100%, 100%);
  }
}
.loaded {
  transform: scale(100%, 100%);
}
.loading {
  animation: loading-animation 1s ease-in-out infinite alternate;
}
@media screen and (max-width: 900px) {
  .tile {
    height: 50svh !important;
  }
  .caption {
    & > p {
      font-size: 1rem !important;
    }
  }
}
