.book_now_button {
  border: 1px solid white;
  background: transparent;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: var(--card-border-radius);
  transition: transform 200ms ease;
  cursor: pointer;
  backdrop-filter: blur(200px);
  &:hover {
    transform: scale(110%);
  }
}

@media screen and (max-width: 900px) {
  .title_card {
    padding: 0.5rem !important;
    & > h1 {
      font-size: 1.3rem !important;
    }
    & > svg {
      height: 3rem !important;
      width: 3rem !important;
    }
  }
}
